.header {
  left: 50%;
  position: fixed;
  max-width: 1660px;
  width: 100%;
  transform: translate(-50%, 0);
  z-index: 30;
  top: 0;
  padding: clamp(23px, 1.386vw, 24px) 0;
  transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
  border-radius: 40px;
  transition: all 0.4s, padding 0s;

  @media (max-width: (1705px)) {
    max-width: 100%;
    transform: translate(0, 0);

    @include for-laptop {
      left: 30px;
      width: calc(100% - 60px);
      right: 30px;
    }
  }

  @include laptop {
    left: var(--container-offset);
      width: calc(100% - (var(--container-offset) * 2));
      right: var(--container-offset);
  }

  @include desktop {
    @include for-small-tablet {
      padding: clamp(16px, 1.6197vw, 23px) 0;
    }
  }

  @include tablet{
    --container-offset: 21px;
  }

  @include mobile{
    --container-offset: 10px;
  }

  .container{
    padding: 0;
  }

  @media (max-width: (999px)) {
    padding: 10px 0 20px;
  }

  &.sticky {
    background: rgba(255, 255, 255, 0.60);
    box-shadow: 1px 1px 1px 0px rgba(255, 255, 255, 0.30) inset;
    backdrop-filter: blur(16px);

    .header__box{
      padding: 0 30px;

      @media (max-width: (999px)) {
        padding: 0 20px;
      }
    }

    @media (max-width: (999px)) {
      padding: 8px 0;
    }
  }

  // &.open-menu {
  //   transition: background 0.2s;
  //   transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
  //   background: var(--bg-c);
  // }

  &-lang {
    justify-self: end;
    display: flex;
    position: relative;
    z-index: 1;

    &:hover {
      .header-lang__wrapp {
        opacity: 1;
        visibility: visible !important;
      }

      .header-lang__open {
        background: var(--green);
        color: var(--white);

        svg {
          transform: scaleY(-1);
          stroke: var(--white);
        }
      }
    }

    &__open {
      border-radius: 10px;
      padding: 10px;
      gap: 6px;
      display: flex;
      align-items: center;
      transition: all 0.3s;
      color: var(--grey);
      font-family: var(--second-family);
      font-size: clamp(16px, 1.084vw, 18px);
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      
      
      @include desktop {
        font-size: clamp(13px, 1.1268vw, 16px);
        grid-gap: clamp(4px, 0.4225vw, 6px);
      }

      svg {
        transition: transform 0.3s;
        fill: none;
        stroke: var(--grey);
        width: clamp(10px, 0.723vw, 12px);
        height: clamp(5px, 0.361vw, 8px);
        flex-shrink: 0;

        @include desktop {
          width: clamp(7px, .7042vw, 10px);
          height: clamp(4px, .3521vw, 5px);
        }
      }
    }

    &__btn {
      color: var(--grey);
      font-family: var(--second-family);
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      padding: 10px 14px;
      width: 100%;
      display: flex;
      justify-content: center;
      text-align: center;
      transition: all 0.3s;
      background: var(--light-gray);
      border-radius: 10px;

      font-size: clamp(16px, 1.084vw, 18px);

      @include desktop {
        font-size: clamp(13px, 1.1268vw, 16px);
      }


      &:hover {
        background: var(--green);
        color: var(--white);
      }
    }

    &__wrapp {
      position: absolute;
      width: 58px;
      opacity: 0;
      right: 0;
      width: 100%;
      top: calc(100% + 3px);
      left: 0;
      visibility: hidden;
      transition: 0.2s ease-in-out;
    }
  }

  &__box {
    display: grid;
    position: relative;
    z-index: 2;
    align-items: center;
    gap: clamp(10px, 0.964vw, 16px);
    grid-template-columns: auto 1fr auto;
    justify-content: space-between;

    transition: all 0.4s 0.05s;

    @include desktop {
      @include for-tablet {
        gap: 10px;
      }
    }

    @include tablet {
      @include for-small-tablet {
        gap: 10px;
      }
    }

    @media (max-width: (999px)) {
      grid-gap: 19px;
    }

    .main-btn {
      height: clamp(36px, 2.59vw, 43px);
      min-width: clamp(202px, 14.639vw, 243px);

      @include desktop {
        @include for-tablet {
          min-width: clamp(156px, 14.2254vw, 202px);
        }
      }

      @include tablet {
        min-width: 156px;
      }

      &__icon {
        width: clamp(26px, 1.867vw, 31px);
        height: clamp(26px, 1.867vw, 31px);

        @include desktop {
          @include for-tablet {
            width: clamp(22px, 1.831vw, 26px);
            height: clamp(22px, 1.831vw, 26px);
          }
        }

        @include tablet {
          width: 22px;
          height: 22px;
        }

        svg {
          width: clamp(11.5px, 0.843vw, 14px);
          height: clamp(11.5px, 0.843vw, 14px);

          @include desktop {
            @include for-tablet {
              width: clamp(10px, 0.8099vw, 11.5px);
              height: clamp(10px, 0.8099vw, 11.5px);
            }
          }

          @include tablet {
            width: 10px;
            height: 10px;
          }
        }
      }

      span:not([class]) {
        font-size: clamp(16px, 1.084vw, 18px);

        @include desktop {
          @include for-tablet {
            font-size: clamp(13px, 1.1268vw, 16px);
          }
        }

        @include tablet {
          font-size: 13px;
        }
      }

      @include desktop {
        @include for-tablet {
          height: clamp(30px, 2.5352vw, 36px);
        }
      }

      @include tablet {
        height: 30px;
      }
    }
  }

  &__link {
    display: flex;
    flex-shrink: 0;
    color: var(--grey-2);
    
    svg{
      transition: all .3s;
      width: 22px;
      height: 22px;
    }

    &:hover{
      color: var(--green);
      svg{
        transform: scale(1.1);
      }
    }
    
    @media (min-width: (1000px)) {
      display: none;
    }

    @media (max-width: (999px)) {
      display: flex;
      justify-self: end;
    }
  }

  &__logo {
    display: flex;
    transition: all 0.4s;

    svg,
    img {
      width: 100%;
      height: 100%;
    }

    @include for-desktop {
      width: clamp(142px, 10.301vw, 171px);
      height: clamp(36px, 2.59vw, 43px);
    }

    @include desktop {
      @media (min-width: (1000px)) {
        width: clamp(100px, 10vw, 142px);
        height: clamp(26px, 2.5352vw, 36px);
      }
    }

    @media (max-width: (999px)) {
      width: 137px;
      height: 34px;
    }
  }

  &__nav {
    display: flex;
    align-items: center;
    z-index: 5;

    @media (min-width: (1000px)){
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    ul {
      display: flex;
      align-items: center;

      @include for-desktop {
        gap: clamp(30px, 2.41vw, 40px);
      }

      @include desktop {
        @include for-laptop {
          gap: clamp(16px, 2.1127vw, 30px);
        }
      }

      @include laptop {
        gap: 16px;
      }

      li {
        display: flex;
        align-items: center;
        position: relative;
        z-index: 1;
      }

      a {
        transition: all 0.3s linear;
        display: flex;
        align-items: center;
        grid-gap: 5px;
        white-space: nowrap;
        position: relative;
        color: var(--grey);
        font-family: var(--second-family);
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;

        @include for-desktop {
          gap: clamp(30px, 2.41vw, 40px);
        }

        @include desktop {
          @include for-laptop {
            font-size: 16px;
          }
        }

        @include laptop {
          font-size: 13px;
        }

        @include small-tablet {
          color: var(--white);
          font-size: 28px;
          font-weight: 700;
          line-height: 36px;
        }

        &:hover {
          color: var(--green);

          @include small-tablet {
            color: var(--grey);
          }
        }
      }
    }
  }

  .burger {
    justify-self: end;
    @media (min-width: (1000px)) {
      display: none;
    }

    @media (max-width: (999px)) {
      @include burger;
    }
  }
}
