<footer class="footer">
  <div class="footer__top">
    <h2 class="h2">Наши официальные социальные сети</h2>

    <ul class="footer__contacts">
      <li>
        <a href="#">Наш бот</a>
      </li>
      <li>
        <a href="#">Наш чат</a>
      </li>
      <li>
        <a href="#">Наш канал</a>
      </li>
      <li>
        <a href="#">Статистика</a>
      </li>
    </ul>
  </div>

  <div class="container">
    <div class="footer__center">
      <div class="footer__box">
        <a href="/" class="footer__logo" aria-label="logo">
          <svg width='185' height='46'>
            <use href='img/sprite/sprite.svg#logo'></use>
          </svg>
        </a>
  
        <p class="footer__text">Оживляем ваши проекты с помощью инновационного дизайна и индивидуальных решений, которые воплощают ваши идеи в жизнь</p>
  
        <ul class="socials">
          <li>
            <a class="socials__link" href="#">
              <svg width='16' height='16'>
                <use href='img/sprite/sprite.svg#instagram'></use>
              </svg>
            </a>
          </li>
          <li>
            <a class="socials__link" href="#">
              <svg width='16' height='16'>
                <use href='img/sprite/sprite.svg#linkedin'></use>
              </svg>
            </a>
          </li>
          <li>
            <a class="socials__link" href="#">
              <svg width='16' height='16'>
                <use href='img/sprite/sprite.svg#discord'></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
  
      <nav class="footer__nav">
        <ul>
          <li>
            <a href="#">О нас</a>
          </li>
          <li>
            <a href="#">Отзывы</a>
          </li>
          <li>
            <a href="#">Блог</a>
          </li>
          <li>
            <a href="#">Контакты</a>
          </li>
          <li>
            <a href="#">Скачать</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>

  <div class="container">
    <div class="footer__bottom">
      <p class="footer__copy">BlackPump</p>

      <ul class="footer__links">
        <li>
          <a href="#">Условия использования</a>
        </li>
        <li>
          <a href="#">Политика конфиденциальности</a>
        </li>
      </ul>
    </div>
  </div>

</footer>