<header class="header fixed-block">
  <div class="container">
    <div class="header__box">
      <a class="header__logo" href="/" aria-label="logo">
        <svg width='171' height='43'>
          <use href='img/sprite/sprite.svg#logo'></use>
        </svg>
      </a>

      <button class="burger">
        <span class="burger__line"></span>
      </button>

      <div class="mobile">
        <div class="mobile__box">
          <div class="mobile__top">
            <a class="header__logo" href="/" aria-label="logo">
              <svg width='171' height='43'>
                <use href='img/sprite/sprite.svg#logo'></use>
              </svg>
            </a>

            <button class="burger">
              <span class="burger__line"></span>
            </button>
          </div>

          <nav class="header__nav">
            <ul>
              <li>
                <a href="/">Главная</a>
              </li>
              <li>
                <a href="#">Партнерам</a>
              </li>
              <li>
                <a href="#">Как это работает?</a>
              </li>
              <li>
                <a href="#">О сервисе</a>
              </li>
              <li>
                <a href="#">FaQ</a>
              </li>
            </ul>
          </nav>

          <div class="mobile__bottom">
            <a href="#" class="main-btn">
              <span>Войти</span>
              <span class="main-btn__icon">
                <svg width='17' height='16'>
                  <use href='img/sprite/sprite.svg#arrow'></use>
                </svg>
              </span>
            </a>

            <a href="#" class="main-btn">
              <span>Создать аккаунт</span>
              <span class="main-btn__icon">
                <svg width='17' height='16'>
                  <use href='img/sprite/sprite.svg#arrow'></use>
                </svg>
              </span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>