.breadcrumbs{
  position: relative;
  width: 100%;
  max-width: var(--container-width-mode);
  margin: 0 auto;
  margin-bottom: clamp(34px, 2.7465vw, 39px);
  padding: 0 var(--container-offset-mode);


  @include desktop{
    @include for-tablet{
      margin-bottom: clamp(24px, 2.3944vw, 34px);
    }
  }

  @include tablet{
    @include for-mobile{
      margin-bottom: 24px;
    }
  }

  @include mobile{
    margin-bottom: 29px;
  } 


  li{
    display: inline-block;
    color: var(--grey-5);
    font-family: var(--second-family);
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 141.171%;


    &:not(:last-child) {
      &::after{
        content: '>';
        color: var(--grey-5);
        font-family: var(--second-family);
        font-size: 14px;
        font-style: normal;
        font-weight: 300;
        line-height: 141.171%;
    
        @include desktop{
          @include for-tablet{
            font-size: 12px;
            line-height: 133.333%;
          }
        }
      
        @include tablet{
          @include for-mobile{
            font-size: 9px;
            line-height: 126.42%;
          }
        }
      
        @include mobile{
          font-size: 12px;
          line-height: 16px;
        }
      }
    }

    @include desktop{
      @include for-tablet{
        font-size: 12px;
        line-height: 133.333%;
      }
    }
  
    @include tablet{
      @include for-mobile{
        font-size: 9px;
        line-height: 126.42%;
      }
    }
  
    @include mobile{
      font-size: 12px;
      line-height: 16px;
    } 

    a{
      transition: all .3s;
      color: var(--grey-5);
      font-family: var(--second-family);
      font-size: 14px;
      font-style: normal;
      font-weight: 300;
      line-height: 141.171%;
  
      @include desktop{
        @include for-tablet{
          font-size: 12px;
          line-height: 133.333%;
        }
      }
    
      @include tablet{
        @include for-mobile{
          font-size: 9px;
          line-height: 126.42%;
        }
      }
    
      @include mobile{
        font-size: 12px;
        line-height: 16px;
      }

      &:hover{
        color: var(--green-2);
      }
    }
  }
}