.reviews-section{
    margin-bottom: 120px;

    @include desktop{
        @include for-tablet{
        margin-bottom: clamp(70px, 7.0423vw, 100px);
        }
    }

    @include tablet{
        margin-bottom: clamp(50px, 6.836vw, 70px);
    }

    &__box{
        display: flex;
        flex-direction: column;
        gap: 84px;

        .reviews-slider{
            margin: -15px 0;
        }
    
        .main-btn{
         align-self: center;
        }

       
    
        @include desktop{
            @include for-tablet{
                gap: clamp(50px, 4.9296vw, 70px);
            }
        }
    
          @include tablet {
            gap: 50px;
          }
    }
}