.videos-section {
    max-width: 1351px;
    width: 100%;
    margin: 0 auto 155px;
    padding-top: 44px;
    background: var(--gr-a);
    border-radius: 44px 44px 0 0;

    &__wrapp {
        display: flex;
        flex-direction: column;
        gap: 43px;
    }

    .main-top {
        align-items: center;

        h2 {
            margin-top: -12px;
        }
    }

    &__box {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 32px;
    }

    &__items {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
    }

    &__item {
        min-height: 578px;
        border-radius: 24px;
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.30) 0%, rgba(0, 0, 0, 0.30) 100%);
    }
}