.gallery-slider {
  display: flex;
  flex-direction: column;
  gap: 84px;
  position: relative;
  z-index: 2;


  @include desktop {
    @include for-tablet {
      gap: clamp(50px, 4.9296vw, 70px);
    }
  }

  @include tablet {
    gap: 50px;
  }

  @media (max-width: (1010px)) {
    @media (min-width: (875px)) {
      width: calc(100vw - (var(--container-offset) * 2));
      margin-left: calc(((100vw - var(--container-width)) / 2) * -1) !important;
    }
  }

  @media (max-width: (874px)) {
    width: calc(100% + (var(--container-offset) * 2));
    margin-left: calc(var(--container-offset) * -1) !important;
  }

  &__card {
    border-radius: clamp(20px, 1.6901vw, 24px);
    width: 100%;
    height: clamp(300px, 21.747vw, 361px);
    overflow: hidden;
    display: flex;
    outline: none !important;

    @include desktop {
      @include for-tablet {
        border-radius: clamp(14px, 1.4085vw, 20px);
        height: clamp(213px, 21.1268vw, 300px);
      }
    }

    @include tablet {
      @include for-small-tablet {
        border-radius: 14px;
        height: 213px;
      }
    }

    @include small-tablet {
      border-radius: 20px;
      height: clamp(195px, 49.479vw, 380px);
    }

    &::before,
    &:after {
      position: absolute;
      content: "";
      height: 65%;
      top: 50%;
      transform: translateY(-50%);
      z-index: -1;
      display: block;
      width: 120px;
      opacity: 0;
      pointer-events: none;

      @include desktop {
        @include for-tablet {
          width: 100px;
        }
      }

      @include tablet {
        @include for-mobile {
          width: 72px;
        }
      }
    }

    &::before {
      left: 0;
      box-shadow: -120.627px 0px 60.314px 0px rgba(0, 0, 0, 0.5);

      @include desktop {
        @include for-tablet {
          box-shadow: -100px 0px 50px 0px rgba(0, 0, 0, 0.5);
        }
      }

      @include tablet {
        @include for-mobile {
          box-shadow: -71.111px 0px 35.556px 0px rgba(0, 0, 0, 0.5);
        }
      }
    }

    &:after {
      right: 0;
      box-shadow: 120.627px 0px 60.314px 0px rgba(0, 0, 0, 0.5);

      @include desktop {
        @include for-tablet {
          box-shadow: 100px 0px 50px 0px rgba(0, 0, 0, 0.5);
        }
      }

      @include tablet {
        @include for-mobile {
          box-shadow: 71.111px 0px 35.556px 0px rgba(0, 0, 0, 0.5);
        }
      }
    }

    img,
    picture {
      border-radius: inherit;
      width: 100%;
      height: 100%;
    }
  }

  .swiper {
    &-btn {
      position: absolute;
      z-index: 3;
      top: 50%;

      @media (max-width: (1010px)) {
        display: none;
      }

      &.next {
        right: calc(clamp(80px, 5.614vw, 96px) * -1);
        transform: translate(100%, -50%);

        @include desktop {
          @include for-tablet {
            right: calc(clamp(57px, 5.556vw, 80px) * -1);
          }
        }

        @include tablet {
          right: calc(clamp(16px, 5.566vw, 57px) * -1);
        }
      }

      &.prev {
        left: calc(clamp(80px, 5.614vw, 96px) * -1);
        transform: translate(-100%, -50%);

        @include desktop {
          @include for-tablet {
            left: calc(clamp(57px, 5.556vw, 80px) * -1);
          }
        }

        @include tablet {
          left: calc(clamp(16px, 5.566vw, 57px) * -1);
        }
      }
    }

    &-container {
      width: 100%;

      @media (max-width: (1010px)) {
        @media (min-width: (875px)) {
          width: calc(100% + (var(--container-offset) * 2));
          margin-left: calc(var(--container-offset) * -1);
          padding: 0 var(--container-offset);
        }
      }

      @media (max-width: (874px)) {
        padding: 0 var(--container-offset);
      }
    }

    &-wrapper {
      @include for-small-tablet{
      padding: 90px 0;
      }
    }

    &-slide {
      height: auto;
      transition: all 0.3s;
      position: relative;
      z-index: 1;
      border-radius: clamp(20px, 1.6901vw, 24px);

    @include desktop {
      @include for-tablet {
        border-radius: clamp(14px, 1.4085vw, 20px);
      }
    }

    @include tablet {
      @include for-mobile {
        border-radius: 14px;
      }
    }

    @include small-tablet {
      border-radius: 20px;
    }

      &-active {
        transform: scale(1.5);
        z-index: 5;

        @include desktop{
          @include for-tablet{
            transform: scale(1.3);
          }
        }

        @include small-tablet{
          transform: scale(1);
        }

        .gallery-slider__card{

          &::before,
          &:after {
            @include for-small-tablet{
               opacity: 1;
            }
          }
        }
      }
    }
  }
}
